/* 
 * Css Reset
 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


/* 
 * Custom Styling
 */

:root {
  --light-grey: #F7F7F7;
  --black: #000000;
  --navbar-width: 250px;
  --header-height: 70px;
}

body {
  font-family: 'Roboto', sans-serif, serif;
}

button {
  cursor:pointer;
}

header {
  padding: 0px 24px;
  height: var(--header-height);
  background-color: var(--black);
  color: white;
  display: flex;
  align-items: center;
}

nav {
  /* grid-area: sidebar; */
  padding: 32px 24px;
  background-color: var(--light-grey);
  position: fixed;
  top: var(--header-height);
  height: 100%;
  width: var(--navbar-width);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#projects-container {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  /* margin-bottom: 24px; */
}

#main-nav-items {
  margin-bottom: 24px;
}

nav button {
  /* background-color: white; */
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  /* padding: 2px; */
  display: flex;
  /* border: 1px solid black; */
}

nav button:hover {
  font-weight: 500;
}

.right-button-panel {
  height: 24px;
  width: 24px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-button-panel {
  visibility: hidden;
  margin-left: auto;
}

button:hover .right-button-panel {
  visibility: visible;
}

button .right-button-panel:hover {
  font-weight: 1000;
  color: red;
}

nav button:hover::before {
  content: "> ";
  /* preserve whitespace from removal due to flexbox */
  white-space: pre-wrap;
}

.nav-header {
  margin-bottom: 8px;
}

.content {
  margin-left: var(--navbar-width);
  padding: 16px;
}
