/* 
 * Css Reset
 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


/* 
 * Custom Styling
 */

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
  "header header"
  "sidebar content";
}

.header {
  grid-area: header;
  padding: 16px;
  background-color: blue;
}

.sidebar {
  grid-area: sidebar;
  padding: 16px;
  background-color: red;
}

.content {
  grid-area: content;
  padding: 16px;
}
